.form_msg {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #a8d0ee;
    background-color: #e8f9ff;
    z-index: 1;
    display: none;
}

.form_msg_word {
    border-bottom: 1px solid #a8d0ee;
    color: #535353;
    line-height: 48px;
    font-size: 0.88em;
    text-align: center;
    cursor: pointer;
}

.feeTitle {
    letter-spacing: 1.6px;
}

.fee {
    font-size: 0.9em;
    color: #f00;
}

.deposit_select {
    background-color: #fff;
    color: #000;
    font-size: 0.9em;
    text-align: center;
    margin-top: 12px;
    border-top: 1px solid #ddd;
}

.btn_depositSelect_T {
    font-size: 1.05em;
    cursor: pointer;
    position: relative;
    height: 50px;
}

    .btn_depositSelect_T > div {
        width: 92%;
        margin: 0 auto;
        border: 1px solid transparent;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0 40px 0 10px;
    }

    .btn_depositSelect_T:after {
        content: "";
        background: url(./../Content/Images/vi-vn/icon_arrow.svg) no-repeat center;
        background-size: 100% auto;
        position: absolute;
        right: 4%;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 15px;
        height: 15px;
        z-index: 1;
    }

    .btn_depositSelect_T.on:after {
        -webkit-transform: rotate( 180deg);
        transform: rotate( 180deg);
    }

.depositSelect_In {
    padding: 15px 0 5px;
    border-top: 1px solid #ddd;
    display: none;
    background-color: #eee;
}

    .depositSelect_In ul {
        display: table;
        width: 100%;
    }

    .depositSelect_In li {
        position: relative;
        font-size: 1.05em;
        color: #666;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 2px;
        height: 50px;
        width: 92%;
        padding: 0 40px 0 10px;
        margin-left: 4%;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        cursor: pointer;
    }

        .depositSelect_In li.on {
            background-color: #fff;
            color: #2782d7;
            border: 1px solid #2782d7;
            background-color: #daf1ff;
        }

        .depositSelect_In li a {
            background: url(./../Areas/Mobile/Content/Images/vi-vn/icon_closeBank.svg) no-repeat;
            background-size: 100% auto;
            width: 24px;
            height: 24px;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            z-index: 2;
        }

            .depositSelect_In li a:active {
                opacity: .8;
            }

.btn_RMBbank {
    width: 122px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-sizing: border-box;
}

    .btn_RMBbank img {
        height: 20px;
        width: auto;
        margin-right: 5px;
    }

    .btn_RMBbank span {
        max-width: calc(100% - 23px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.bankBtn {
    width: 100px;
    border: 1px solid #ddd;
    padding: 0 10px;
    background-color: #fff;
}

.withdraw_number {
    line-height: 1em;
}

.img_withdraw {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.withdraw_more {
    justify-content: center !important;
    padding: 0 !important;
    line-height: 1em;
}

.form_button .w50L {
    color: #45b5d9;
    border: 1px solid #45b5d9;
    background-color: #fff;
}

@media (min-width:350px) {
    .btn_depositSelect_T > div,
    .depositSelect_In li {
        padding-left: 15px;
        padding-right: 50px;
    }

        .depositSelect_In li a {
            right: 15px;
        }
}

@media (min-width: 400px) {
    .form_msg {
        top: 60px;
    }

    .form_msg_word {
        line-height: 60px;
    }

    .fee {
        font-size: 0.85em;
    }

    .btn_depositSelect_T {
        height: 60px;
    }

    .depositSelect_In li {
        height: 54px;
    }

    .btn_RMBbank {
        width: 131px;
        height: 40px;
    }

        .btn_RMBbank img {
            margin-right: 8px;
        }

        .btn_RMBbank span {
            max-width: calc(100% - 26px);
        }

    .deposit_select {
        margin-top: 15px;
    }

    .bankBtn {
        width: 109px;
    }
}

@media (min-width: 530px) {
    .btn_depositSelect_T > div,
    .depositSelect_In li {
        padding-right: 54px;
    }
}

@media (min-width: 768px) {
    .depositSelect_In li {
        width: 44% !important;
        float: left;
    }
}

/*彈跳視窗*/
.withdrawT {
    text-align: center;
    margin-bottom: 10px;
}

    .withdrawT img {
        width: 75px;
        height: 75px;
    }

.withdrawIn {
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.9em;
    line-height: 25px;
}

/*聯繫客服*/
.withdrawIMG {
    width: auto;
    height: 84px;
    margin: 40px auto 15px;
    display: block;
}

.withdraw_list {
    background-color: #fff;
    display: table;
    width: 100%;
    height: 50px;
    cursor: pointer;
    padding-right: 4%;
    box-sizing: border-box;
    font-size: 0.95em;
    font-weight: bold;
}

    .withdraw_list + .withdraw_list,
    .withdraw_list + .withdrawTxt {
        margin-top: 12px;
    }

    .withdraw_list li {
        display: table-cell;
        vertical-align: middle;
    }

.withdraw_InL {
    width: 30%;
    text-align: center;
}

    .withdraw_InL img {
        margin: auto;
        width: auto;
        height: 38px;
        display: block;
    }

.withdraw_InC {
    padding: 5px 10px 5px 0;
}

.withdraw_InR {
    width: 45%;
}

    .withdraw_InR span {
        color: #2782d7;
    }

.withdrawTxt {
    color: red;
    text-align: center;
    font-size: 0.95em;
    padding: 0 4%;
}

.form .withdrawTxt {
    font-size: 0.75em;
    margin-top: 21px;
}

@media (min-width: 400px) {
    .withdraw_list {
        height: 70px;
    }

        .withdraw_list + .withdraw_list,
        .withdraw_list + .withdrawTxt {
            margin-top: 15px;
        }

    .form .withdrawTxt {
        margin-top: 27px;
    }

    .withdraw_InL img {
        height: 50px;
    }

    .withdraw_InC {
        padding: 10px 15px 10px 0;
    }

    .withdrawIMG {
        height: 110px;
        margin: 45px auto 20px;
    }
}

@media (min-width: 530px) {
    .withdraw_InR {
        width: 35%;
    }

    .form .withdrawTxt {
        font-size: 0.95em;
    }
}

@media (min-width: 768px) {
    .withdraw_InR {
        width: 25%;
    }
}

/*泡泡提示視窗*/
.txt_prompt.top {
    bottom: 57px;
    background-color: #f90;
    color: #fff;
    padding: 6px 10px 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    line-height: 1.35em;
    z-index: 2;
    position: absolute;
    display: none;
    font-size: 0.7em;
}

    .txt_prompt.top:before {
        content: '';
        position: absolute;
        right: 10px;
        border-style: solid;
        top: auto;
        bottom: -8px;
        border-width: 9px 9px 0 0;
        border-color: #f90 transparent transparent transparent;
    }

    .txt_prompt.top div {
        display: table-cell;
    }

        .txt_prompt.top div:first-child {
            width: 1%;
            white-space: nowrap;
        }

@media (min-width: 400px) {
    .txt_prompt.top {
        bottom: 69px;
    }
}

@media (min-width: 768px) {
    .txt_prompt.top {
        bottom: 73px;
        font-size: 0.9em;
    }
}

/*縮減間距/送出按鈕/注意事项/keyType*/
.marginTop
.precautions + .precautions {
    margin-top: 12px;
}

.marginBottom {
    margin-bottom: 12px;
}

@media (min-width: 400px) {
    .marginTop,
    .precautions + .precautions {
        margin-top: 15px;
    }

    .marginBottom {
        margin-bottom: 15px;
    }
}

/*藍灰底樣式-覆蓋form.css的影響*/
.bodyForm {
    background-color: #f0eff5;
}

    .bodyForm ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #888;
    }

    .bodyForm ::-moz-placeholder { /* Firefox 19+ */
        color: #888;
    }

    .bodyForm :-ms-input-placeholder { /* IE 10+ */
        color: #888;
    }

    .bodyForm :-moz-placeholder { /* Firefox 18- */
        color: #888;
    }

    .bodyForm .error ::-webkit-input-placeholder {
        color: #8f8f8f;
    }

    .bodyForm .error ::-moz-placeholder {
        color: #8f8f8f;
    }

    .bodyForm .error :-ms-input-placeholder {
        color: #8f8f8f;
    }

    .bodyForm .error :-moz-placeholder {
        color: #8f8f8f;
    }

    .bodyForm input[type="button"]:disabled,
    .bodyForm input[type="button"][class*=off] {
        background-color: #aaa !important;
    }

    .bodyForm .form {
        padding: 0;
    }

        .bodyForm .form + ul .numInputArea {
            margin-bottom: 0 !important;
        }

        .bodyForm .form li {
            height: 48px;
            padding: 0 4%;
            border-bottom: 0;
            border-top: 1px solid #ddd;
            display: table;
        }

            .bodyForm .form li:nth-last-child(1) {
                border-bottom: 1px solid #ddd;
            }

            .bodyForm .form li + li:not(.keySetting) {
                margin-top: 0;
            }

            .bodyForm .form li[class*="error"] {
                border-color: #ff3b30;
                background-color: #ffd5d5;
            }

                .bodyForm .form li[class*="error"]:not(:last-child) {
                    margin-bottom: 21px !important;
                }

                .bodyForm .form li[class*="error"]:last-child {
                    margin-bottom: 9px !important;
                }

            .bodyForm .form li .error_t {
                right: 4%;
                text-align: right;
                bottom: -22px;
                line-height: 21px;
            }

    .bodyForm .form_In {
        width: auto;
        color: #888;
    }

        .bodyForm .form_In input {
            height: 48px;
            font-size: 0.9em;
        }

        .bodyForm .form_In .icon_pw {
            height: 48px !important;
        }

        .bodyForm .form_In .btn_closeKB {
            height: 100%;
            width: 20px;
        }

        .bodyForm .form_In .keyboard {
            height: 48px;
            line-height: 48px;
            padding-right: 25px;
            font-size: 0.9em;
        }

            .bodyForm .form_In .keyboard:not(.keyIn) {
                color: #888;
            }

        .form_T_VN07,
        .bodyForm .form_In span {
            font-size: 0.9em;
        }

    .bodyForm .keySetting .numInputArea {
        margin-top: 12px !important;
        margin-bottom: 12px !important;
        width: 92%;
    }

    .bodyForm .form_button {
        margin-top: 0;
        padding: 12px 4%;
    }

        .bodyForm .form_button input {
            border-radius: 2px;
            font-size: 0.9em;
            height: 40px;
        }

    .bodyForm .form_hint {
        justify-content: center;
    }

@media (min-width: 400px) {
    .bodyForm .form li,
    .bodyForm .form_In input {
        height: 60px;
    }

        .bodyForm .form li[class*="error"]:not(:last-child) {
            margin-bottom: 27px !important;
        }

        .bodyForm .form li[class*="error"]:last-child {
            margin-bottom: 12px !important;
        }

        .bodyForm .form li .error_t {
            bottom: -28px;
            line-height: 27px;
        }

    .bodyForm .form_In .icon_pw {
        height: 60px !important;
    }

    .bodyForm .form_In .btn_closeKB {
        background-size: auto 25px;
        width: 25px;
    }

    .bodyForm .form_In .keyboard {
        height: 60px;
        line-height: 60px;
        padding-right: 35px;
    }

    .bodyForm .keySetting .numInputArea {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    .bodyForm .form_button {
        padding-top: 15px;
        padding-bottom: 15px;
    }

        .bodyForm .form_button input {
            border-radius: 3px;
            height: 52px;
        }
}

@media (min-width: 530px) {
    .bodyForm .keySetting .numInputArea {
        width: 68%;
    }
}